.btn-container {
	text-align: center;
}

.start-btn {
	padding: 20px 50px;
	background: $color-secondary;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 0 auto;

	transition: .3s;
	outline: none;

	&:hover {
		box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
	}
}

.repeat-btn {
	display: none;
	padding: 40px;
	background: palevioletred;
	border: none;
	color: white;
	cursor: pointer;
	margin: 0 auto;
	transition: .3s;
	outline: none;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;

	&:hover {
		box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
	}
}

.resetBtn,
.trainBtn {
	font-size: 2rem;
	padding: 3px 10px;
	background: $color-secondary;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	transition: .2s;

	&:hover {
		box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
	}
}
