.title {
	height: 56px;
	font-size: 2.5rem;
	color: #78c2ad;
	text-align: center;
	overflow: hidden;
}

.card-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	position: relative;
	width: 295px;
	height: 240px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	perspective: 750px;

	.front,
	.back {
		overflow: hidden;
		position: absolute;
		height: 240px;
		width: 300px;
		border: 5px solid $color-primary;
		border-radius: 8px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: .4s;
		backface-visibility: hidden;

		&:hover {
			transform: scale(1.01);
			-webkit-box-shadow: 0px 0px 20px 2px rgba(131, 212, 181, 0.75);
			-moz-box-shadow: 0px 0px 20px 2px rgba(131, 212, 181, 0.75);
			box-shadow: 0px 0px 20px 2px rgba(131, 212, 181, 0.75);
		}
	}

	.back {
		transform: rotateY(180deg);
	}

	.card-title {
		font-size: 1.5rem;
		margin-top: 183px;
		width: 100%;
		background: #fff;
		padding: 7px 0 9px;
	}
}

.cat-card {
	width: 295px;
	height: 240px;
	border-radius: 8px;
	text-align: center;
	margin: 10px;
	overflow: hidden;
	background: $color-primary;
	cursor: pointer;
	transition: .3s;

	img {
		margin-top: 10px;
		border: 6px solid white;
		border-radius: 50%;
		width: 70%;
		height: 190px;
	}

	&__title {
		margin-top: 5px;
		color: white;
	}

	&:hover {
		transform: scale(1.01);
		-webkit-box-shadow: 0px 0px 20px 5px rgba(131, 212, 181, 0.75);
		-moz-box-shadow: 0px 0px 20px 5px rgba(131, 212, 181, 0.75);
		box-shadow: 0px 0px 20px 5px rgba(131, 212, 181, 0.75);
	}
}

.card-game {
	position: relative;
	width: 295px;
	height: 200px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	perspective: 750px;

	.front,
	.back {
		overflow: hidden;
		position: absolute;
		height: 100%;
		width: 295px;
		border: 5px solid $color-secondary;
		border-radius: 8px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: .43s;

		&:hover {
			transform: scale(1.01);
			-webkit-box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
			-moz-box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
			box-shadow: 0px 0px 20px 2px rgba(219, 112, 147, 0.75);
		}

		&-off {
			filter: saturate(0.1);

			&:hover {
				transform: scale(1);
				box-shadow: none;
				cursor: default;
			}
		}
	}

	.back {
		transform: rotateY(180deg);
	}

	.card-title {
		font-size: 1.5rem;
		margin-top: 183px;
		width: 100%;
		background: #fff;
		padding: 7px 0 9px;
	}
}

.cat-card-game {
	width: 295px;
	height: 240px;
	border-radius: 8px;
	text-align: center;
	margin: 10px;
	overflow: hidden;
	background: $color-secondary;
	cursor: pointer;
	transition: .3s;

	img {
		margin-top: 10px;
		border: 6px solid white;
		border-radius: 50%;
		width: 70%;
		height: 190px;
	}

	&__title {
		margin-top: 5px;
		color: white;
	}

	&:hover {
		transform: scale(1.01);
		-webkit-box-shadow: 0px 0px 20px 5px rgba(219, 112, 147, 0.75);
		-moz-box-shadow: 0px 0px 20px 5px rgba(219, 112, 147, 0.75);
		box-shadow: 0px 0px 20px 5px rgba(219, 112, 147, 0.75);
	}
}

.rotate {
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 58px;
	background-repeat: no-repeat;
	background-position: 2px 5px;
	bottom: -3px;
	right: -1px;
	transition: .3s;
}
