.card-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.card {
	width: 300px;
	// height: 250px;
	border-radius: 8px;
	text-align: center;
	margin: 10px;
	border: 1px solid rgb(129, 129, 129);
	overflow: hidden;

	.front {
		height: 200px;
		width: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 8px 8px 0 0;
	}

	.card-title {
		font-size: 1.5rem;
		background: #fff;
		padding-bottom: 10px;
		border-radius: 0 0 8px 8px;
	}
}
