.title {
	font-size: 2.5rem;
	color: #78c2ad;
	text-align: center;
}

.card-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	position: relative;
	width: 300px;
	height: 240px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	perspective: 750px;

	.front,
	.back {
		overflow: hidden;
		position: absolute;
		height: 240px;
		width: 300px;
		border: 5px solid $color-secondary;
		border-radius: 8px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: .5s;
		backface-visibility: hidden;
	}

	.back {
		transform: rotateY(180deg);
	}
	// &:hover {
	// 	.front {
	// 		transform: rotateY(180deg);
	// 	}
	// 	.back {
	// 		filter: saturate(0%);
	// 		transform: rotateY(360deg);
	// 	}
	// }

	.card-title {
		font-size: 1.5rem;
		margin-top: 183px;
		width: 100%;
		background: #fff;
		padding: 7px 0 9px;
	}
}

.cat-card {
	width: 300px;
	height: 240px;
	border-radius: 8px;
	text-align: center;
	margin: 10px;
	overflow: hidden;
	background: $color-secondary;
	cursor: pointer;

	img {
		margin-top: 10px;
		border: 6px solid white;
		border-radius: 50%;
		width: 70%;
		height: 190px;
	}

	&__title {
		margin-top: 5px;
		color: white;
	}
}

.rotate {
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 58px;
	background-repeat: no-repeat;
	background-position: 2px 5px;
	bottom: -3px;
	right: -1px;
	transition: .3s;
}
