table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	font-size: 1.3rem;
	overflow: hidden;

	@media (max-width: 650px) {
		font-size: 1rem;
	}
}

table tr:nth-child(even) {
	background: #868a89;
}

th {
	padding: 0 2px;
	border: 1px solid white;
	background: $color-secondary;
	color: white;
	cursor: pointer;
}

td {
	text-transform: capitalize;
	text-align: center;
	border: 1px solid white;
	background: $color-primary;
	color: white;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
	position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
	right: 0;
	position: absolute;
}

th.sorted[data-order="-1"]::after {
	content: "▼";
}

th.sorted[data-order="1"]::after {
	content: "▲";
}
