.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: $color-primary;
	padding: 0 40px;
}

.navbar {
	padding: 0.1rem 1rem;
}

.logo {
	color: white;
	cursor: default;
}
